.create{
    font-size: 200%;
    align-content: center;
    text-align: center;
    
}
.top{
    height: 10%;
    width: 100%;
    background-color:aliceblue;
}
.signup{
    height:80%;
    width: 40%;
    margin-left: 60%;
    background-color: aliceblue;
    color: black;
    padding: 2%;
    
}
.name{
    margin: 2%;
}
